@charset "UTF-8";
#footer {
  background-color: #333;
  color: #fff;
}
#footer .container {
  width: 1780px;
}
#footer .util-box {
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .util-box .util {
  position: relative;
}
#footer .util-box .util ul {
  height: auto;
}
#footer .util-box .util ul li:nth-last-child(1) a {
  border: none;
  padding: none;
}
#footer .addr-box {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
#footer .addr-box address {
  line-height: 1.5;
  font-size: 14px;
}
#footer .addr-box address .copyright {
  padding-top: 30px;
  opacity: 0.5;
}
#footer .family-site {
  font-size: 14px;
  position: relative;
}
#footer .family-site button,
#footer .family-site li a {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .family-site ul {
  position: absolute;
  bottom: 40px;
  margin-bottom: -1px;
  opacity: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}
#footer .family-site ul li {
  margin-top: -1px;
  background-color: #1a1a1a;
  border-color: #4d4d4d;
}
#footer .family-site.on ul {
  opacity: 1;
  pointer-events: auto;
}

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  background: none;
  border: none;
  outline: none;
}

.container {
  width: 1460px;
  margin: 0 auto;
}

#header .container {
  width: 1840px;
}

#header {
  z-index: 99;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
#header #logo {
  width: 230px;
  position: absolute;
  left: 30px;
  top: 30px;
}
#header .container {
  height: 100px;
}

#gnb .list {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gnb .list > li {
  position: relative;
}
#gnb .list > li:hover .depth01 {
  background-color: #239dfa;
  color: #fff;
}
#gnb .list > li:hover .depth01:before {
  transform: scaleX(1);
}
#gnb .list > li:hover .depth01::after {
  display: block;
}
#gnb .list > li:hover .depth02 {
  opacity: 1;
  pointer-events: all;
}
#gnb .list > li .depth01 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  padding: 0 70px;
  position: relative;
  transition: all 0.25s ease;
}
#gnb .list > li .depth01:before {
  content: "";
  background-color: rgb(255, 209, 123);
  height: 3px;
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;
  transform: scaleX(0);
  transition: all 0.5s ease;
}
#gnb .list > li .depth01:after {
  content: "";
  height: 1px;
  background-color: rgba(187, 187, 187, 0.5);
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 10px;
  display: none;
}
#gnb .list > li .depth02 {
  width: 100%;
  pointer-events: none;
  opacity: 0;
  padding: 15px 0 30px;
  text-align: center;
  background-color: #239dfa;
  position: absolute;
  color: #fff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  z-index: 4;
}
#gnb .list > li .depth02 li a {
  display: block;
  padding: 15px 0;
  border-radius: 30px;
  font-size: 15px;
}
#gnb .list > li .depth02 li a:hover {
  background-color: #034a81;
}