@import "vars";
@import "mixins";

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  font-size: 16px;
  color: #111;
  min-height: 3000px;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: top;
}
button {
  color: inherit;
  border: none;
  background: none;
  outline: none;
}
.container {
  width: 1460px;
  margin: 0 auto;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  color: #fff;
  transition: all 0.5s ease;
  &.on {
    color: #111;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    #logo {
      #logo-white {
        display: none;
      }
      #logo-color {
        display: block;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1840px;
  }
  #logo {
    display: flex;
    align-items: center;
    height: 120px;
    img {
      width: 200px;
    }
    #logo-color {
      display: none;
    }
  }
  #gnb {
    .list {
      display: flex;
      > li {
        position: relative;
        &:hover {
          .depth01 {
            color: #fff;
            background-color: $main-color;
            &:after {
              transform: scaleX(1);
            }
            &:before {
              opacity: 1;
            }
          }
          .depth02 {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
      .depth01 {
        height: 120px;
        padding: 0 50px;
        font-size: $h4;
        font-weight: 500;
        transition: all 0.25s ease;
        @include flex;
        &:before {
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          opacity: 0;
          content: "";
          background-color: $point-color;
        }
        &:after {
          display: block;
          height: 2px;
          position: absolute;
          right: 30px;
          bottom: 0;
          left: 30px;
          transform: scaleX(0);
          transition: all 0.25s ease;
          content: "";
          background-color: #fff;
        }
      }
      .depth02 {
        width: 100%;
        position: absolute;
        padding: 25px 0 30px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        opacity: 0;
        transition: all 0.25s ease;
        background-color: $main-color;
        border-radius: 0 0 20px 20px;
        pointer-events: none;
        li {
          opacity: 0.5;
          transition: all 0.25s ease;
          &:hover {
            opacity: 1;
          }
          a {
            display: block;
            padding: 15px 0;
          }
        }
      }
    }
  }
  .util {
    display: flex;
    align-items: center;
    height: 120px;
    .language {
      position: relative;
      padding: 15px;
      text-align: center;
      transition: all 0.25s ease;
      border-radius: 10px;
      background-color: #ccc;
      &:hover {
        color: #fff;
        background-color: $main-color;
        ul {
          top: 60px;
          opacity: 1;
        }
      }
      ul {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        padding: 10px 0;
        color: #fff;
        opacity: 0;
        transition: all 0.25s ease;
        background-color: $main-color;
        border-radius: 10px;
        li a {
          display: block;
          padding: 10px 0;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      button {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        &:before {
          margin-right: 10px;
          font-family: "Material Icons";
          font-size: 24px;
          font-weight: 400;
          content: "\e894";
        }
      }
    }
    .all-menu {
      margin-left: 40px;
      font-size: 24px;
    }
  }
}
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
video::-webkit-media-controls-download-button {
  display: none;
}
